.ProjectPage {
  display: flex;
  flex-direction: column;

  height: 100%;

  &__Modal {
    z-index: 102;

    width: 480px;

    .VegaModal__Body {
      justify-content: left;
    }
  }

  &__ModalFooter {
    display: flex;
    justify-content: flex-end;
  }

  &__ButtonClose {
    margin-right: var(--space-xs);
  }
}
