.PageLayout {
  display: grid;

  width: 100%;
  min-height: 100vh;

  grid-template-columns: 100%;
  grid-template-rows: 41px 1fr;
  grid-template-areas:
    'header'
    'body';

  background-color: var(--color-bg-default);

  &__Header {
    grid-area: header;

    border-bottom: 1px solid var(--color-control-bg-border-default);
  }

  &__Body {
    grid-area: body;
  }
}
