.ProjectsTable-EditedAt {
  &__root {
    display: flex;
    align-items: center;
  }

  &__editedTime {
    flex-grow: 1;
  }

  &__menu {
    position: absolute;
    right: var(--space-xs);
  }

  &__navigation {
    padding: var(--space-xs) 0;

    background-color: var(--color-bg-default);
    border: 1px solid var(--color-bg-border);
    border-radius: 4px;
  }

  &__navigationItem {
    padding: var(--space-xs) var(--space-s) var(--space-xs) var(--space-xs);

    display: inline-flex;
    align-items: center;

    border-radius: 0;

    &:active {
      text-decoration: none;
    }
  }

  &__iconWrap {
    width: var(--graphics-size-m);
    height: var(--graphics-size-m);
  }
}
