*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.App {
  min-width: 100vw;
  min-height: 100vh;

  background: var(--color-bg-default);

  &__Loader {
    position: absolute;
  }
}

.Button {
  z-index: unset;
}
